.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product {
    width: 500px;
    height: 600px;
    border: 1px solid rgb(233, 227, 227);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;

    &__img {
        width: 500px;
        height: 280px;
        object-fit: cover;
    }

    .product-inf {
        padding: 40px;

        &__label {
            font-size: 16px;
            font-weight: 600;
            color: rgb(148, 148, 148);
            display: block;
            margin: 7px 0;
        }

        &__desc {
            font-size: 18px;
            color: rgba(116, 116, 116, 1);
            margin: 18px 0;
            font-weight: 400;
        }

        &__btn {
            padding: 15px 25px;
            font-size: 20px;
            font-weight: 700;
            color: #c60dff;
            border-color: #d448ffce;
            border-radius: 5px;
            background-color: white;
            transition: all linear 0.5s;
        }

        &__btn:hover {
            background-color: #af00e4;
            color: white;
            cursor: pointer;
        }
    }
}